body {
    background-image: url('backgrounds/wolf_dark_background.webp');
    background-size: cover; /* Ensures the image covers the entire background */; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif; /* Optional: Sets a default font for your page */
    align-items: center;
    text-align: center;
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background change */
    color: #ff66cc;/* Optional: Sets text color for better contrast */
}

h1, h2, p {
    text-align: center; /* Centers text */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    border-radius: 10px;
}

h1 {
    font-size: 10vh;
}

h2 {
    font-size: 3vh;
}

.qrcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 190px;
}