body {
    background-image: url('artistic_background.webp');
    background-size: cover; /* Ensures the image covers the entire background */; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif; /* Optional: Sets a default font for your page */
    color: #fff;/* Optional: Sets text color for better contrast */
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background change */


  }
  
  h1, p {
    text-align: center; /* Centers text */
}


.whiteboard,.players-box {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
  }

  .players-box {
    max-width: 300px;
    width: 100%;
    margin-right: 20px; /* Space between players-box and whiteboard */
  }




#switchButton {
margin-top: 20px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}
.day {
background-image: url('backgrounds/artistic_background.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.night {
background-image: url('backgrounds/wolf_dark_background.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}



