<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Player Info</h1>
    <div id="playerInfo"></div>
    <div id="voting"></div>

    <script>
        let host_ip = "{{ host_ip }}";
    </script>

    <script type="module" src="{{ url_for('static', filename='player.js') }}"></script> 

</body>
</html>




