<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Who are you?</h1>
    <div id="playersList">
        <h2 id="greetings">
            Greetings peasants!!! </br> 
            Welcome to the joyful village of Tabula. </br>
            The sun is low and new exiting night is about to come! </br>
            What will happen? \nYou are about to find out!
        </h2>
    </div>

    <script>
        let host_ip = "{{ host_ip }}";
    </script>
    
    <script type="module" src="{{ url_for('static', filename='select_player.js') }}"></script> 
</body>

</html>
